*{
    margin: 0px;
    padding: 0px;
}
h1{
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    text-decoration:underline;
}
p{
    margin-top: 10px;
    padding: 10px;
    text-align: justify;
}
.blog{
    margin: 10px;
    padding: 20px;
    color: black;
    text-align: justify;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    background-color: antiquewhite;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 5px 5px 5px brown;
    display: inline-block;
    width: 20%;
}
.btn{
    margin-top: 10px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 6px;
    background-color:brown;
    color: white;
    font-size: medium;
}
.parent{
    text-align: center;
}